on:
  repository_dispatch:
    types: [reliza-build-event]

name: Publish to Maven Central

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    env:
      CENTRAL_USER: ${{ secrets.CENTRAL_USER }}
      CENTRAL_PASS: ${{ secrets.CENTRAL_PASS }}
      SIGN_PASS: ${{ secrets.SIGN_PASS }}
      SIGN_KEY: ${{ secrets.SIGN_KEY }}
      RELIZA_API_ID: ${{ secrets.RELIZA_API_ID }}
      RELIZA_API_KEY: ${{ secrets.RELIZA_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 50
      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: temurin
      - name: Get version
        run: |
          latest_rlz=$(docker run --rm relizaio/reliza-cli getlatestrelease -k ${{ secrets.RELIZA_API_KEY }} -i ${{ secrets.RELIZA_API_ID }} -b master --env PRODUCTION)
          reliza_ver=$(echo $latest_rlz | jq -r ".version")
          approved_commit=$(echo $latest_rlz | jq -r ".sourceCodeEntryDetails.commit")
          echo $reliza_ver
          echo $approved_commit
          echo "RLZ_FULL_VER=$reliza_ver" >> $GITHUB_ENV
          git checkout $approved_commit
      - name: Set build.gradle version
        run: gradle changeVersion -PnewVersion="${RLZ_FULL_VER}"
      - name: Run tests
        run: gradle test
      - name: Publish to Central
        # exporting key to sign - https://stackoverflow.com/questions/57921325/gradle-signarchives-unable-to-read-secret-key/58000485#58000485
        if: success()
        run: |
          echo "GPG_SIGNING_KEY=$SIGN_KEY" > gradle.properties
          echo "GPG_SIGNING_PASSWORD=$SIGN_PASS" >> gradle.properties
          # prepare gradle.properties for signing
          gradle publishAllPublicationsToCentralRepository -PcentralUser=$CENTRAL_USER -PcentralPassword=$CENTRAL_PASS